.blog-page-heading {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {
  .blog-page-heading {
    padding: 0 32px;
  }
}
